@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
  background-image: url('/imgs/bg-stars.svg');
  background-color: hsl(234, 17%, 12%);

  margin: 0 auto;
  height: 100%;
}

.hdr {
  display: flex;
  margin: 10% 0;
  width: 100%;
  color: white;
  font-weight: 700;
  justify-content: center;
}

.countdown-ctr {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.time, .unit {
  display: flex;
  justify-content: center;
}

.unit {
  font-size: 14px;
  color: hsl(237, 18%, 59%);
}

footer {
  position: fixed;
  bottom: 0px;

  height: 25%;
  width: 100%;
  background-image: url('/imgs/pattern-hills.svg');
}


.social-media-ctr {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.social-media {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
}